[Unit]
Description=HW07: Events App

[Service]
Type=simple
User=events
Group=events
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4793
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/events/events
ExecStart=/bin/bash /home/events/events/start.sh

[Install]
WantedBy=multi-user.target