[Unit]
Description=HW05: Server Side Game Logic 

[Service]
Type=simple
User=hw05
Group=hw05
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4790
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw05/www/hw05
ExecStart=/bin/bash /home/hw05/www/hw05/sstart.sh

[Install]
WantedBy=multi-user.target
